<div class="row">
    <div class="col-md-4 col-md-offset-4 wowX slideInDown" data-wow-duration="1s">
        <h1>{{ title }}</h1>
        <p>Welcome to {{ title }}</p>
        
        <h2>Create new recipe</h2>
        <form>
          <fieldset class="form-group">
            <label for="recipeNameInput">Recipe Name</label>
            <input type="text" class="form-control" id="recipeNameInput" placeholder="Enter a name">
            <small class="text-muted">Think of a cool name, like 'Ice'</small>
          </fieldset>
          <fieldset class="form-group">
            <label for="descriptionTA">Description</label>
            <textarea class="form-control" id="descriptionTA" rows="3"></textarea>
          </fieldset>
          <button id="createRecipeButton" type="submit" class="btn btn-primary">Save</button>
        </form>
        
         
        
        <div id="recipeCreationSuccess" class="alert alert-success fade in hidden" role="alert">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Your recipe has been created successfully.
        </div>
        <div id="recipeCreationFailure" class="alert alert-danger fade in hidden" role="alert">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Oh noes!</strong> Could not create the recipe for some reason.
        </div>

        <h2>Obtain a recipe</h2>
         <form>
          <fieldset class="form-group">
            <label for="getRecipeNameInput">Recipe Name</label>
            <input type="text" class="form-control" id="getRecipeNameInput" placeholder="Enter a name">
          </fieldset>
          <button id="getRecipeButton" type="submit" class="btn btn-primary">Show</button>
        </form>
        
        <div id="message">
            
        </div>
        
    </div>
</div>